<a href="https://colab.research.google.com/github/josevitor676/aula04_meu_primeiro_codigo_python/blob/main/Aula04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Esse é meu primeiro codigo em python
## Semelhança com pseudo-codigo

In [ ]:
x = 5
if x == 5:
  y = 0
  while y < 4:
    print("Valor de y é: ", y)
    print("\n") # pula linha 
    print(x)
    y = y +1 # incrementa o y

# Ctrl + / ou ; comenta uma parte do código

## Qual o tipo de variavel ?

### 

## Voltando para semelhança com pseudo-código

In [ ]:
type(x) # é uma função que devolve o tipo da minha variavel
type('x')

In [ ]:
for i in [5,6,7,8,9]:
  print(i)

In [ ]:
for i in range(10):
  print(i)

In [ ]:
for i in range(5,10):
  print(i)

In [ ]:
for i in range(5,10,2):
  print(i)

In [ ]:
x = 5
if x == 5:
  y = 0
  while y < 4:
    print("Valor de y é: ", y)
    print("\n")
    print(x)
    print("\n")
    y = y  +1
    print("\n")

    for i in [5,6,7,8,9]:
      print(i)
      print("\n")

    for i in range(10):
      print(i)
      print("\n")

    for i in range(5,10):
      print(i)
      print("\n")

    for i in range(5,10,2):
      print(i) 
      print("\n")

## Input()

In [ ]:
x = input("escreva o seu nome: ") # o input pede a entrada de um novo fornecido pelo o usuario
print("o nome digitado foi: ", x)

escreva o seu nome: jose vitor
o nome digitado foi:  jose vitor

#Exercicio 1
1.	FAÇA UM PROGRAMA QUE LEIA UM NÚMERO INTEIRO E O IMPRIMA.

In [ ]:
x = int(input("Digite um Número Inteiro"))
if type(x) == int:
  print("Você digitou um número inteiro", x)

#Exercicio 2
##2.	FAÇA UM PROGRAMA QUE LEIA UM NÚMERO REAL E O IMPRIMA.

In [ ]:
numReal = float(input("Digite um número"))
if type(numReal) == float:
  print("Você digitou um numero float", numReal)

Digite um número6.7
Você digitou um numero float 6.7

#Exercicio 03

In [ ]:
num1 = int(input("digite um numero "))
num2 = int(input("digite um numero "))
num3 = int(input("digite um numero "))

soma = num1 + num2 + num3
print('A soma dos numeros digitados resultou em:', soma)

#Exercicio 04

In [ ]:
num1 = int(input("digite um numero "))

result = num1 ** 2
print(f"O quadrado do numero {num1} resultou em:", result)

#Exercicio 05

In [ ]:
num1 = int(input("digite um numero "))

result = num1 / 5
print(f"A quinta parte  do numero {num1} resultou em:", result)

#Exercicio 06

In [ ]:
num1 = int(input("digite um numero "))

result = (num1 * 1.8 + 32)
print(f"A Temperatura em Celsius convertida para Fahrenheit resultou em:", round(result,2))

#Exercicio 07

In [ ]:
num1 = int(input("digite um numero "))

result = (num1 - 273.15)
print(f"A Temperatura em Kelvin convertida para Celsius resultou em:", round(result,2))

#Exercicio 08

In [ ]:
num1 = int(input("digite um numero "))

result = (num1 + 273.15)
print(f"A Temperatura em Celsius convertida para Kelvin resultou em:", round(result,3))

#Exercicio 09

In [ ]:
num1 = int(input("digite um numero "))

result = num1 * 2.54

print(f"A conversão de {num1} em polegadas para centimetro resultou em:", result)

#Exercicio 10

In [ ]:
num1 = int(input("digite um numero "))
num2 = int(input("digite um numero "))
num3 = int(input("digite um numero "))

result1 = num1 ** 2
result2 = num2 ** 2
result3 = num3 ** 2

soma = result1 + result2 + result3
print(f"A soma de todos os quadrados resultou em:", soma)

#Exercicio 11

In [ ]:
num1 = int(input("digite um numero "))
num2 = int(input("digite um numero "))
num3 = int(input("digite um numero "))
num4 = int(input("digite um numero "))

result = (num1 + num2 + num3 + num4) / 4

print(f"A média aritmética resultou em:", result)

#Exercicio 12

In [ ]:
num1 = int(input("digite um numero"))

atnNum = num1 - 1
suceNum = num1 + 1 
print(f"O número digitado foi {num1} seu antecessor é {atnNum} e seu sucessor é {suceNum} ")

#Exercicio 13

In [ ]:
num1 = int(input("digite um numero "))

numanterior = (num1 + 1) * 3
numsucecessor = (num1 - 1) * 2

print(f"O resultado da operação é {numanterior + numsucecessor}")

#Exercicio 14

In [ ]:
num1 = int(input("digite o lado do quadrado "))

area = num1 * num1

print(f"A area do quadro é {area}")

#Exercicio 15

In [ ]:
num1 = int(input("digite o valor do produto "))

valorDesconto = (12/100) * (num1)

valorFinal = num1 - valorDesconto

print(f"O valor final do produto ficou em {valorFinal}")

#Exercicio 16

In [26]:
salario = int(input("Digite seu salario "))

salarioAumentado = (25 / 100) * salario

print(f"O seu novo salario é de {salarioAumentado + salario}")

Digite seu salario 500
O seu novo salario é de 625.0

#Exercio17

In [ ]:
num1 = int(input("digite o valor da hora de trabalho em reais "))
num2 = int(input("digite o numero de horas trabalhadas no mês "))

valorSerPago = num1 * num2

valorAcrescimo = (10/100) * (valorSerPago)

salarioFinal = valorSerPago + valorAcrescimo

print(f"O salario final será {salarioFinal}")

#Exercicio 18

In [ ]:
import datetime

dataAtual = datetime.datetime.now() 
idade = int(input("Digite sua idade "))

anoNasc = dataAtual.year - idade

print(f"O ano do seu nascimento é {anoNasc}")

#Exercicio 20

In [ ]:
salarioBase = int(input("Digite seu salario base "))

salBaseAumentado = (5 / 100) * salarioBase
salarioDesconto = (7/100) * salarioBase

print(f"seu salario atual é de: R$ {(salarioBase + salBaseAumentado) - salarioDesconto}")

#Exercicio 21

In [ ]:
num1 = int(input("Digite um numero "))
num2 = int(input("Digite outro numero "))

if num1 > num2:
    print(num1)
else:
    print(num2)