<a href="https://colab.research.google.com/github/josevitor676/aula04_meu_primeiro_codigo_python/blob/main/Aula04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Esse é meu primeiro codigo em python
## Semelhança com pseudo-codigo

In [ ]:
x = 5
if x == 5:
  y = 0
  while y < 4:
    print("Valor de y é: ", y)
    print("\n") # pula linha 
    print(x)
    y = y +1 # incrementa o y

# Ctrl + / ou ; comenta uma parte do código

## Qual o tipo de variavel ?

### 

## Voltando para semelhança com pseudo-código

In [ ]:
type(x) # é uma função que devolve o tipo da minha variavel
type('x')

In [ ]:
for i in [5,6,7,8,9]:
  print(i)

In [ ]:
for i in range(10):
  print(i)

In [ ]:
for i in range(5,10):
  print(i)

In [ ]:
for i in range(5,10,2):
  print(i)

In [ ]:
x = 5
if x == 5:
  y = 0
  while y < 4:
    print("Valor de y é: ", y)
    print("\n")
    print(x)
    print("\n")
    y = y  +1
    print("\n")

    for i in [5,6,7,8,9]:
      print(i)
      print("\n")

    for i in range(10):
      print(i)
      print("\n")

    for i in range(5,10):
      print(i)
      print("\n")

    for i in range(5,10,2):
      print(i) 
      print("\n")

## Input()

In [ ]:
x = input("escreva o seu nome: ") # o input pede a entrada de um novo fornecido pelo o usuario
print("o nome digitado foi: ", x)

escreva o seu nome: jose vitor
o nome digitado foi:  jose vitor

#Exercicio 1
1.	FAÇA UM PROGRAMA QUE LEIA UM NÚMERO INTEIRO E O IMPRIMA.

In [ ]:
x = int(input("Digite um Número Inteiro"))
if type(x) == int:
  print("Você digitou um número inteiro", x)

#Exercicio 2
##2.	FAÇA UM PROGRAMA QUE LEIA UM NÚMERO REAL E O IMPRIMA.

In [ ]:
numReal = float(input("Digite um número"))
if type(numReal) == float:
  print("Você digitou um numero float", numReal)

Digite um número6.7
Você digitou um numero float 6.7

#Exercicio 03

In [ ]:
num1 = int(input("digite um numero "))
num2 = int(input("digite um numero "))
num3 = int(input("digite um numero "))

soma = num1 + num2 + num3
print(f'A soma dos numeros digitados resultou em: {soma}')

#Exercicio 04

In [ ]:
num1 = int(input("digite um numero "))

result = num1 ** 2
print(f"O quadrado do numero {num1} resultou em: {result}")

#Exercicio 05

In [ ]:
num1 = int(input("digite um numero "))

result = num1 / 5
print(f"A quinta parte  do numero {num1} resultou em: {result}")

#Exercicio 06

In [ ]:
# num1 = int(input("digite um numero "))

# result = (num1 * 1.8 + 32)
# print(f"A Temperatura em Celsius convertida para Fahrenheit resultou em: {round(result,2)}" )

c = float(input("Digte um numero"))
f = c * (9 / 5) + 32 

print(f)

#Exercicio 07

In [ ]:
num1 = float(input("digite um numero "))

result = (num1 - 273.15)
print(f"A Temperatura em Kelvin convertida para Celsius resultou em: {round(result,2)}")

#Exercicio 07 kelvin

In [ ]:
num1 = int(input("digite um numero "))

result = (num1 + 273.15)
print(f"A Temperatura em Celsius convertida para Kelvin resultou em: {round(result,3)}" )

#Exercicio 08

In [ ]:
import math as mat
import fractions
#Este módulo fornece acesso às funções matemáticas definidas pelo padrão C.
angulo = int(input("Digite um angulo "))

radiano = fractions.Fraction((2/360) * angulo).limit_denominator(100)
# (2 * mat.pi)/360 * angulo

print(f"A conversão do Angulo {angulo} para Radiano é: {radiano}")
# mat.radians(100)

Digite um angulo 30
A conversão do Angulo 30 para Radiano é: 1/6

#Exercicio 09

### except ValueError para a validação de erro

In [ ]:

# num1 = input("digite um numero ")


# if type(num1) == str:
#   print("string")
# else:
#   print(f"A conversão de {num1} em polegadas para centimetro resultou em: {int(num1) * 2.54}" )
#   print("Isso não é um numero")
  
while True:
  try:
    x = input("Digite uma polegada para ser convertida em centimetro ")
    print(f"A conversão de {x} em polegadas para centimetro resultou em: {float(x) * 2.54}")
    break
  except ValueError:
    print("ops isso não é um numero")

#Exercicio 10

In [ ]:
while True:
  try:
    num1 = int(input("digite um numero "))
    num2 = int(input("digite um numero "))
    num3 = int(input("digite um numero "))
    result1 = num1 ** 2
    result2 = num2 ** 2
    result3 = num3 ** 2
    soma = result1 + result2 + result3
    print(f"A soma de todos os quadrados resultou em: {soma}")
    break
  except ValueError:
    print("Isso não é um numero3")

#Exercicio 11

In [ ]:
x = []

while True:
  try:
    for y in range(100):
      num1 = float(input("digite um numero "))
      if num1 >= 0  and num1 <= 10 :
        x.append(num1)
      else:
        print("por favor digite um numero menor do que 10")
      if len(x) == 4:
        break
    break
  except ValueError:
      print("Digite um numero!")
    

print(f"A media das notas é {sum(x) / 4}")
# print(f"A média aritmética resultou em: {result}")

#Exercicio 12

In [ ]:
while True:
  try:
    num1 = int(input("digite um numero "))
    print(f"O número digitado foi {num1} seu antecessor é {num1 - 1} e seu sucessor é {num1 + 1} ")
    break
  except ValueError:
    print("isso não é um numero")



# atnNum = num1 - 1
# suceNum = num1 + 1 
# print(f"O número digitado foi {num1} seu antecessor é {atnNum} e seu sucessor é {suceNum} ")

#Exercicio 13

In [ ]:
while True: 
  try:
    num1 = int(input("digite um numero "))
    numanterior = (num1 + 1) * 3
    numsucecessor = (num1 - 1) * 2
    print(f"O resultado da operação é {numanterior + numsucecessor}")
    break
  except ValueError:
    print("Isso não é um numero")

#Exercicio 14

In [ ]:
while True:
  try:
    num1 = int(input("digite o lado do quadrado "))
    print(f"A area do quadro é {num1 * num1}")
    break
  except ValueError:
    print("Isso não é um numero")

#Exercicio 15

In [ ]:
while True:
  try:
    num1 = int(input("digite o valor do produto "))
    valorDesconto = (12/100) * (num1)
    print(f"O valor final do produto ficou em {num1 - valorDesconto}")
    break
  except ValueError:
    print("Isso não é um numero")

#Exercicio 16

In [ ]:
while True:
  try:
    salario = int(input("Digite seu salario "))
    salarioAumentado = (25 / 100) * salario
    print(f"O seu novo salario é de {salarioAumentado + salario}")
    break
  except ValueError:
    print("Isso não é numero")

#Exercio17

In [ ]:
while True:
  try:
    num1 = int(input("digite o valor da hora de trabalho em reais "))
    num2 = int(input("digite o numero de horas trabalhadas no mês "))
    valorSerPago = num1 * num2
    valorAcrescimo = (10/100) * (valorSerPago)
    salarioFinal = valorSerPago + valorAcrescimo
    print(f"O salario final será {salarioFinal}")
    break
  except ValueError:
    print("Isso não é numero")

#Exercicio 18

In [ ]:
import datetime

while True:
  try:
    dataAtual = datetime.datetime.now() 
    idade = int(input("Digite sua idade "))
    anoNasc = dataAtual.year - idade
    print(f"O ano do seu nascimento é {anoNasc}")
    break
  except ValueError:
    print("isso não é uma idade")

#Exercicio 19

#Exercicio 20

In [ ]:
while True:
  try:
    salarioBase = int(input("Digite seu salario base "))
    salBaseAumentado = (5 / 100) * salarioBase
    salarioDesconto = (7/100) * salarioBase
    print(f"seu salario atual é de: R$ {(salarioBase + salBaseAumentado) - salarioDesconto}")
    break
  except ValueError:
    print("Isso não é um número")

#Exercicio 21

In [67]:
while True:
  try:
    num1 = int(input("Digite um numero "))
    num2 = int(input("Digite outro numero "))
    if num1 > num2:
        print(f'{num1} maior que {num2}')
    else:
        print(f'{num2} maior que {num1}')
    break
  except ValueError:
    print('Isso não é um numero')

Digite um numero jjj
Isso não é um numero
Digite um numero 56
Digite outro numero jjj
Isso não é um numero
Digite um numero 10
Digite outro numero 96
96 maior que 10

#Aula 05

In [ ]:
a= 10
m = 9.0
print(f"A quantidade de alunos é {a} e a media é {m}")

##Print(f" ") template string

#Código Base

In [ ]:
x = 34 - 23 
y = "hello"
z = 3.45
if z == 3.45 or y == "hello":
  x = x + 1
  y = y + " world"
  print(x)
  print(y)

In [ ]:
a = 5 
b = 6
c = 10 

print(a + b)
print(b - c)
print(a * b)
print(b / a) # Divisão
print(b % a) # Resto da divisão
#print(b %% a) = ERRO

#Aula 06

#Exercicio 22

In [71]:
while True:
  try:
    numero = int(input("Digite um numero "))
    if numero > 0:
        print(numero ** 2)
    else:
      print('Numero Menor que zero')
    break
  except ValueError:
    print('Não é um Número')

Digite um numero -10
Numero Menor que zero

#Exercicio 23

In [ ]:
while True:
  try:
    numeroReal = float(input("Digite um numero "))
    if numeroReal > 0:
      print(numeroReal ** 2)
    else:
      print(numeroReal ** 4)
    break
  except ValueError:
    print('Não é um numero')

#Exercicio 24

In [ ]:
while True:
  try:
    x = input("Digite um numero ")
    if int(x) % 2 == 0:
      print("Numero Par")
    else:
      print("Numero impar")   
    break
  except ValueError:
    print("ops isso não é um numero ")

#Exercicio 25

In [ ]:
# x = input("Digite um numero ")
# y = input("Digite um numero ")

# if x > y:
#   print(f"{x} maior que {y}")
# elif y > x:
#   print(f"{y} maior que {x}")  
# elif x == y:
#   print(f"Você digitou dois numeros iguais")

while True:
  try:
    x = input("Digite um numero")
    y = input("Digite um numero")
    if int(x) > int(y):
      print(f"{x} maior que {y}")
    elif int(y) > int(x):
      print(f"{y} maior que {x}")
    elif int(x) == int(y):
      print(f"Você digitou dois numeros iguais")
    break
  except ValueError:
    print("isso não é um numero")

#Aula 07

##title()
###Coloca a primeira letra de cada palavra em maiusculo

##upper()
###Coloca toda a palavra em maiuscula

##lower
###Coloca toda a palavra em letra minuscula

##split
###Colocar uma separação entre as palavras e coloca tudo em uma lista

##append()
###Adiciona um novo item na lista

##len()
###Mostra o tamanho da lista

In [ ]:
x  = input("Digite seu nome completo ")

print(x.title())
print(x.upper())
print(x.lower())

In [ ]:
nome = x.split(maxsplit=4)
nome[0] = 'Alex'
nome.append('Euclides')
print(nome)

In [ ]:
print(type(nome))
print(len(nome))

In [59]:
x = ''
for y in nome:
  x = x + ' ' + y
print(x)

 Alex vitor da silva

In [ ]:
nome = x.split(maxsplit=5)
nome.pop()
nome

#Exercicio 26

In [ ]:
while True:
  try:
    salario = int(input("Digite seu salario "))
    empretismo = int(input("Valor da Prestação "))
    if empretismo >= 20:
      print("Empretismo não concedido")
    else:
      print("Empretismo concedido")
    break 
  except ValueError:
    print("Isso não é um numero")

#Exercicio 27

In [ ]:
while True:
  try:
    salario = float(input("Digite seu salario "))
    impPago = float(input("Digite o percentual de imposto pago em folha "))
    if impPago >= 200:
      print("Valor Pago em imposto acima de R$ 200,00")
    else:
      print("Valor Pago em imposto abaixo de R$ 200,00")
    break
  except ValueError:
    print("Não é um número")

#Exercicio 28

In [ ]:

while True:
  try:
    numInteiro = int(input("Digite un numero "))
    if numInteiro > 0:
      print(round(math.log(numInteiro), 2))
      break
    else:
      print("Número inválido")
  except ValueError:
    print("Digite um numero")

#Exercicio 29

In [ ]:
while True:
  try:
    nota1 = float(input("Insira uma nota "))
    nota2 = float(input("Insira outra nota "))
    if (nota1 > 0.0 and nota1 <= 10.0) and (nota2 >  0.0 and nota2 <= 10.0):
      resultado = (nota1 + nota2) / 2
      print(f"A media das notas é {round(resultado, 2)}")
      break
    else:
      print("Valor Invalido")
      break
  except ValueError:
      print("Digite uma nota")

#Exercicio 30

In [ ]:

  try:
    prova1 = float(input("Digite a nota da primeira prova "))
    prova2 = float(input("Digite a nota da segunda prova "))
    prova3 = float(input("Digite a nota da terceira prova "))
    media = (prova1 + prova2 + (prova3 * 2)) / 3

    if media >= 60:
      print(f'A media do aluno {round(media, 2)} Aprovado')
    else:
      print(f'A media do aluno {round(media, 2)} Reprovado')

  except ValueError:
      print("Não é uma nota")